.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

chrome-extension/build.js

chrome-extension/build.js.map

chrome-extension/chatbox-only/build.js

chrome-extension/chatbox-only/build.js

chrome-extension/chatbox-only/build.js.map

*.zip
