#chatbox-iframe {
    /* don't remove anything, this is fighting other sites' styling*/
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2147483647;
/*    height: 415px;
    width: 360px;*/
/*    height: 30px;
    width: 100px;*/
    height: 0px;
    width: 0px;
    min-height: 0px;
    min-width: 0px;
    border:none;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.31);
    display: block;
    margin-bottom: 0px;
}
.danmuWrapper {
    /*display: none;*/
}
.danmu {
    position: fixed;
    color: white;

    /*background: rgba(255, 255, 255, 0.9);*/
    max-width: 400px;

    z-index: 2147483647;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.danmu .danmu-text {
    border: 1px solid rgba(0, 182, 255, 1);
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: rgba(0, 182, 255, 0.9);
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.danmu .invitation {
    border: 1px solid lightgray;
    color: #0089ff;
    color: black;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: white;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.danmu.self .invitation, .danmu.self .danmu-text{
    background: #bf0;
    border: 1px solid lightgray;
    color: black;
}
span.invitation-url {
    color: #0089ff;
    cursor: pointer;
}
span.invitation-url:hover {
    text-decoration: underline;
}

.danmu img{
    max-height: 50px;
}